.form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.error {
  position: absolute;
  left: 20px;
  color: red;
}

.progress {
  margin: 0 10px 20px;
  width: 780px;
}

.main {
  margin-top: 20px;
}
